body{
  background-image: url('https://wallpapertag.com/wallpaper/full/7/e/8/179295-background-white-2560x1440-ipad-retina.jpg');
  max-width: max-content;
  margin-right: 20%;
}
.card{
  margin-top: 25%;
  margin-right: 10%;
}